.App {
  background: linear-gradient(to right, #a9a9a9, #90ee90);
}
.App-overlay {
  background-color: black;
  opacity: 0.75;
}
.App-header {
  min-height: 40vh;
  display: flex;
  color: white;
}

.app-container {
  min-height: 60vh;
  flex-direction: row;
}
.amount-row {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
  min-height: 10vh;
}
.currency-row {
  /* background-color: lightblue; */
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
  min-height: 10vh;
}
.exchange-r {
  min-height: 5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}
