.App {
  background: linear-gradient(to right, #a9a9a9, #90ee90);
}
.App-overlay {
  background-color: black;
  opacity: 0.75;
}
.App-header {
  min-height: 30vh;
  display: flex;
  color: white;
}

.app-container {
  min-height: 70vh;
}
.main-controls {
  max-width: 40vw;
  margin: auto;
}
.form-row {
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

label {
  font-style: normal;
  font-family: sans-serif;
  font-weight: 900;
  color: white;
}
.show-money {
  display: flex;
  color: wheat;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 900;
  justify-content: center;
  flex-wrap: wrap;
}
.show-money p {
  flex: 1;
  align-items: center;
}
